* {
  font-family: Lato, sans-serif;
  color: rgb(67, 64, 64);
  font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}
  
label {
  display: block;
  font-family: sans-serif;
  color: rgb(137, 137, 137);
  margin-bottom: 5px;
}

input {
  border-radius: 5px;
  outline: none;
  border: none;
  width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgb(196, 196, 196);
}

a {
  text-decoration: none;
  color: rgb(137, 137, 137);
}

.container {
  margin: 0;
  padding: 10px ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial;
  font-weight: 600;
  color: rgb(137, 137, 137);
  border-radius: 1px ;
  border-bottom: 2px solid rgb(241, 240, 240);
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin: 20px 0px 10px;
  color: rgb(67, 64, 64);;
  padding-bottom: 20px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 20px 45px 45px 40px;
  border-radius: 10px;
}

.btn {
  background-color: #ff3162;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.btn-cadastra-se {
  background-color: #ff3162;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  outline: none;
  cursor: pointer;
  border-color: none;
}

.space {
}